<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_thư_viện.Properties.Settings.QLTV1ConnectionString"
            connectionString="Data Source=DESKTOP-9JJTF2A\SQLEXPRESS;Initial Catalog=QLTV1;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_thư_viện.Properties.Settings.QLthuvien__1_ConnectionString"
            connectionString="Data Source=DESKTOP-9JJTF2A\SQLEXPRESS;Initial Catalog=&quot;QLthuvien (1)&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_thư_viện.Properties.Settings.QLthuvienConnectionString"
            connectionString="Data Source=DESKTOP-9JJTF2A\SQLEXPRESS;Initial Catalog=QLthuvien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>